<ion-content color="success" [fullscreen]="true">
<!-- 
    <div  class="d-flex justify-content-start"></div>

    <div class="d-flex justify-content-center">To</div>

    <div class="d-flex justify-content-end">The</div>

    <div class="d-flex justify-content-start">Fun</div>

    <div class="d-flex justify-content-center">Facts</div>

    <div class="d-flex justify-content-end">Page</div>

    <div class="d-flex justify-content-start">Stick</div>

    <div class="d-flex justify-content-center">Around</div>

    <div class="d-flex justify-content-end">Awhile</div> -->

    <ion-card *ngFor="let fact of facts">
       
      
        <ion-card-title>{{fact.fun_fact}}</ion-card-title>
      
        <a href="{{fact.article_id}}">
            <ion-button  fill="clear">{{fact.article_id}}</ion-button>
        </a>

      </ion-card>
  
    


</ion-content>
