<ion-content color="success" [fullscreen]="true">
  <!-- 
    <div  class="d-flex justify-content-start"></div>

    <div class="d-flex justify-content-center">To</div>

    <div class="d-flex justify-content-end">The</div>

    <div class="d-flex justify-content-start">Fun</div>

    <div class="d-flex justify-content-center">Facts</div>

    <div class="d-flex justify-content-end">Page</div>

    <div class="d-flex justify-content-start">Stick</div>

    <div class="d-flex justify-content-center">Around</div>

    <div class="d-flex justify-content-end">Awhile</div> -->

  <div class="factbox" *ngFor="let fact of facts"> 
  
    <ion-card class="card">
      <div>
     
        <ion-card-title>{{fact.fun_fact}}</ion-card-title>
      </div>

      <div *ngFor="let article of articles">
        <a [href]="article.url" class="stretched-link"></a>
        
      </div>

    </ion-card>
  </div>



</ion-content>