.logo{
    font-family: 'Nabla', cursive;
    margin-left:20px;
    margin-bottom:20px;
}
//RouterLinkActive not working
.active{
    color:white;
}
.header{
    display:inline-block;
    display:flex;
}
.search{
   width:50%;
   margin-top:5px;
   margin-right:50px;
   padding:10px;
   
}
