<ion-tabs>

  <ion-header>
    <ion-toolbar>
      <h1 class="logo">Reel News</h1>
<!-- 
      <ion-content>
        <ion-item (click)="select.open()">
          <ion-label>Select Article</ion-label>
          <app-searchable-select 
          title="Select Article" 
          [data]="articles" 
          itemTextField="name"
            #select
            (selectedChanged)="selectChanged($event)"></app-searchable-select>

        </ion-item>
      </ion-content> -->
      
      <ion-searchbar show-clear-button="focus" value="Show on Focus" animated="true" placeholder="Animated"></ion-searchbar> 

    </ion-toolbar>

  </ion-header>


  <!-- RouterLinkActive not working -->


  <ion-tab-bar slot="bottom">
    <ion-tab-button RouterLinkActive="active" class="home" tab="tab1">
      <ion-icon color="primary" name="earth-outline"></ion-icon>
      <ion-label color="primary">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button RouterLinkActive="active" tab="tab2">
      <ion-icon color="secondary" name="newspaper-outline"></ion-icon>
      <ion-label color="secondary">Articles</ion-label>
    </ion-tab-button>

    <ion-tab-button RouterLinkActive="active" tab="tab3">
      <ion-icon color="tertiary" name="dice-outline"></ion-icon>
      <ion-label color="tertiary">Good/Bad</ion-label>
    </ion-tab-button>


    <ion-tab-button RouterLinkActive="active" tab="tab4">
      <ion-icon color="success" name="sparkles-outline"></ion-icon>
      <ion-label color="success">Fun Facts</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>