<ion-content color="secondary" [fullscreen]="true">

  <ion-grid>

    <div class="feel-good">
      <ion-row>
        <ion-item>
          <ion-label>
            <h1 class="category"></h1>
          </ion-label>
        </ion-item>
      </ion-row>
    
      <ion-row *ngFor="let category of categories">
        <ion-label>
          <h1 class="category">{{ category.title }}</h1>
        </ion-label>
    
        <ion-card class="article col-xs-2" [button]="true" *ngFor="let article of catArticles[category.1]">
          <img [src]="article.image" width="150px" height="100px">
          <ion-card-header>
            <ion-card-title>{{ article.name }}</ion-card-title>
            <ion-card-subtitle>{{ article.author }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{ article.desc }}
          </ion-card-content>
        </ion-card>
      </ion-row>
    </div>
    

    <div class="entertainment">
      <hr>
      <ion-item>
        <ion-label>
          <h1 class="category">Entertainment</h1>
        </ion-label>
      </ion-item>

      <ion-row>

        <ion-card class="article col-xs-2" [button]="true"  *ngFor="let article of articles">
          <img [src]="article.image" width="150px" height="100px">
          <ion-card-header>
            <ion-card-title>{{article.name}}</ion-card-title>
            <ion-card-subtitle>{{article.author}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            {{article.desc}}
          </ion-card-content>
        </ion-card>
      </ion-row>
    </div>


    <div class="sport">
      <hr>
      <ion-item>
        <ion-label>
          <h1 class="category">Sports</h1>
        </ion-label>
      </ion-item>

      <ion-row>

        <ion-card class="article col-xs-2" [button]="true"  *ngFor="let article of articles">
          <img [src]="article.image" width="150px" height="100px">        
            <ion-card-header>
            <ion-card-title>{{article.name}}</ion-card-title>
            <ion-card-subtitle>{{article.author}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            {{article.desc}}
          </ion-card-content>
        </ion-card>
      </ion-row>
    </div>

    <div class="government">
      <hr>
      <ion-item>
        <ion-label>
          <h1 class="category">Government</h1>
        </ion-label>
      </ion-item>

      <ion-row>

        <ion-card class="article col-xs-2" [button]="true"  *ngFor="let article of articles">
          <img [src]="article.image" width="150px" height="100px">         
           <ion-card-header>
            <ion-card-title>{{article.name}}</ion-card-title>
            <ion-card-subtitle>{{article.author}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            {{article.desc}}
          </ion-card-content>
        </ion-card>
      </ion-row>
    </div>


    <div class="math">
      <hr>
      <ion-item>
        <ion-label>
          <h1 class="category">Math</h1>
        </ion-label>
      </ion-item>

      <ion-row>

        <ion-card class="article col-xs-2" [button]="true"  *ngFor="let article of articles">
          <img [src]="article.image" width="150px" height="100px">         
           <ion-card-header>
            <ion-card-title>{{article.name}}</ion-card-title>
            <ion-card-subtitle>{{article.author}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            {{article.desc}}
          </ion-card-content>
        </ion-card>
      </ion-row>
    </div>


    <div class="art">
      <hr>
      <ion-item>
        <ion-label>
          <h1 class="category">Art</h1>
        </ion-label>
      </ion-item>

      <ion-row>

        <ion-card class="article col-xs-2" [button]="true"  *ngFor="let article of articles">
          <img [src]="article.image" width="150px" height="100px">         
           <ion-card-header>
            <ion-card-title>{{article.name}}</ion-card-title>
            <ion-card-subtitle>{{article.author}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            {{article.desc}}
          </ion-card-content>
        </ion-card>
      </ion-row>
    </div>

    <div class="weird-happenings">
      <hr>
      <ion-item>
        <ion-label>
          <h1 class="category">Weird Happenings</h1>
        </ion-label>
      </ion-item>

      <ion-row>

        <ion-card class="article col-xs-2" [button]="true"  *ngFor="let article of articles">
          <img [src]="article.image" width="150px" height="100px"> 
          <a [href]="article.url" class="stretched-link"></a>         
          <ion-card-header>
            <ion-card-title>{{article.name}}</ion-card-title>
            <ion-card-subtitle>{{article.author}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            {{article.desc}}
          </ion-card-content>
        </ion-card>
      </ion-row>
    </div>
    <div class="local">
      <hr>
      <ion-item>
        <ion-label>
          <h1 class="category">Local</h1>
        </ion-label>
      </ion-item>

      <ion-row>

        <ion-card class="article col-xs-2" [button]="true"  *ngFor="let article of articles">
          <img [src]="article.image" width="150px" height="100px">
          <ion-card-header>
            <ion-card-title>{{article.name}}</ion-card-title>
            <ion-card-subtitle>{{article.author}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            {{article.desc}}
          </ion-card-content>
        </ion-card>
      </ion-row>
    </div>


    <div class="world">
      <hr>
      <ion-item>
        <ion-label>
          <h1 class="category">World</h1>
        </ion-label>
      </ion-item>

      <ion-row>

        <ion-card class="article col-xs-2" [button]="true"  *ngFor="let article of articles">
          <img [src]="article.image" width="150px" height="100px">         
           <ion-card-header>
            <ion-card-title>{{article.name}}</ion-card-title>
            <ion-card-subtitle>{{article.author}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            {{article.desc}}
          </ion-card-content>
        </ion-card>
      </ion-row>
    </div>

  </ion-grid>

</ion-content>