.carousel{
    margin:2%;
    
}

.carousel-inner{
    padding:20px;
    margin:10px;
    border-radius:30px;
    max-height:80%;

}

.carousel-item{
max-height:180vh;
}

.article{
    width:150px;
    height:auto;
    position:relative;
}
.stretched-link{
    
}

app-form{

    margin-bottom:20px;
}

ion-grid {
    --ion-grid-width: 100%;
  
    --ion-grid-width-xs: 100%;
    --ion-grid-width-sm: 288px;
    --ion-grid-width-md: 384px;
    --ion-grid-width-lg: 480px;
    --ion-grid-width-xl: 570px;
}

.form{
    margin-bottom:20px;
    padding:20px;

}
