.article {
    width: 150px;
    height: auto;
}

.stretched-link {}

ion-grid {
    --ion-grid-width: 100%;

    --ion-grid-width-xs: 100%;
    --ion-grid-width-sm: 288px;
    --ion-grid-width-md: 384px;
    --ion-grid-width-lg: 480px;
    --ion-grid-width-xl: 570px;
}

.title{
    font-family:'Barriecito', cursive;
    font-size:65px;
    margin-left:33%;
    color:#a728a9
    

    
}