.row{
    text-align:center;
}
.form{
    padding:10px;
    border: 2px solid #b2600e;
    background-color:rgb(53, 134, 201);
}
.label{
    text-align:center;
}
.btn{
    background-color:#3586c9;
    // margin-left: 27%;
    // margin-right: 25%;
    justify-content:center;
    margin-top:10px;
    padding:10px;
    
}
ion-input{
    border-radius: 10px !important;
    padding-right: 30px;
    font-size: 0.9em;
    background: rgb(53, 134, 201) !important;
    max-width: 50vw;
    max-height: 10vh;
    margin-left:25%;
    margin-right:25%;
    padding:10px;
}
.item-inner{
    flex-wrap:wrap;
}



