
<ion-item>
  <ion-label>
    <h1>Subscribe</h1>
    <p>Get a weekly recap sent right to your inbox</p>
  </ion-label>
</ion-item>
<ion-item>
  <ion-input label="First Name" labelPlacement="floating" placeholder="Enter First Name"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="Last Name" labelPlacement="floating" placeholder="Enter Last Name"></ion-input>
</ion-item>
<ion-item>
  <ion-input label="Email" type="email" labelPlacement="floating" placeholder="@gmail.com"></ion-input>
</ion-item>
